/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 de mar. de 2022, 22:45:53
    Author     : BEMK
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
.banner_principal{
height: 100vh;
background-size: cover;
background-position:100% 80%;
background-image: url("../imagens/banner_principal.webp");
background-repeat: no-repeat;
}
@media only screen and (max-width: 768px){
               .banner_principal{
                 height: 100%;
background-size: cover;
background-position:10% 20%;
background-image: url("../imagens/fundo_mobile.webp");
background-repeat: no-repeat;
background-color: #f7f7f7;

            }
            }
.titulo{
   margin-top: 150px;
   font-size: 60px;
   color:#164259;
   font-weight: bold;
  font-family: 'Rubik', sans-serif;
}
.introducao{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
 font-weight: 400;
 color:#164259;
 text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 768px){
.titulo{
      text-align: center;
      font-size: 55px;
      margin-bottom: 20px;
}
.introducao{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}
}
.destaque{
    color:#F7AF24;
}

.botao_link{
    border: 2px solid #F7AF24;
    color: #164259;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 5px;  
}
.botao_link:hover{
    background-color: #164259;
        color: #F7AF24;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
@media only screen and (max-width: 768px){
.botoes_contato_principal{
    text-align: center;
}
}

.espacamento{
    margin-top: 80px;  
}

.titulo_menu{
    color: #F7AF24;
    font-size: 90px;
    opacity: 0.1;
    font-family: 'Rubik', sans-serif;
}

.subtitulo_menu{
    color: #164259;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin-top: -84px;
    margin-left: 20px;
}
@media only screen and (max-width: 768px){
.subtitulo_menu{
    margin-left: 0px;
    margin-left: 0px;
    font-size: 16px;
}
}
@media only screen and (max-width: 768px){
.titulo_menu{
    font-size: 50px;
    
}
}
.caixa-servico{
    border: none;
    background-color: #fcfcfc;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #164259;
}
.caixa-servico:hover{
    box-shadow: 0 0 10px 1px #F7AF24;
    background-color: #ffffff;
}
.icone_servico{
    color: #F7AF24;
    font-size: 60px;
}

#sobre-nos{
background-size: cover;
background-image: url("../imagens/fundo_sobre.webp");
background-repeat: no-repeat;
}
.card-sobrenos{
    background-color: #fcfcfc;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #F7AF24;
}
@media only screen and (max-width: 768px){
.card-sobrenos{
    margin-bottom: 20px;
}
}
.card-sobrenos:hover{
    box-shadow: 0 0 10px 1px #F7AF24;
    background-color: #ffffff;
    border-bottom: 2px solid transparent;
}
.icone_sobrenos{
                font-size: 80px;         
               color:#F7AF24;
            }
            .titulo-card-sobrenos, .texto-card-sobrenos{
                color: #164259;
            }

            .projeto{
                background-color: #164259;
            }
            .t-padrao{
                font-size: 35px;
                color: #164259;
                font-family: 'Rubik', sans-serif;
            }
            .texto{
              font-size: 18px;  
              font-weight: 500;
            }
            
            .botao_link_projeto{
                border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 5px; 
            }
            
            .botao_link_projeto:hover{
    background-color: #164259;
        color: #F7AF24;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border: 2px solid #F7AF24;
}

.card-contato{
    background-color: #fcfcfc;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #164259;
}
@media only screen and (max-width: 768px){
.card-contato{
    margin-bottom: 20px;
}
}
.card-contato:hover{
    box-shadow: 0 0 10px 1px #F7AF24;
    background-color: #ffffff;
    border-bottom: 2px solid transparent;
}
.icone_contato{
                font-size: 50px;         
               color:#F7AF24;
            }
            .titulo-card-sobrenos, .texto-card-sobrenos{
                color: #164259;
            }
            
         .nome, .telefone, .email, .assunto, .mensagem{
             border:none;
             border-radius: 10px;
                border-bottom: 1px solid #F7AF24;
                background-color: #fcfcfc;
                color: #164259;
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
            }
            .nome:focus, .telefone:focus, .email:focus, .assunto:focus, .mensagem:focus{
                box-shadow: 0 0 0 0;
                border: 0 none;
                outline: 0;
                border-bottom: 2px solid #164259;
                background-color: #F7AF24;
                color:#164259;
            }
            #contato{
background-size: cover;
background-image: url("../imagens/fundo_sobre.webp");
background-repeat: no-repeat;
}

.card-portfolio{
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-bottom: 30px;
    border-bottom: 2px solid #F7AF24;
}
@media only screen and (max-width: 768px){
.card-portfolio{
    margin-bottom: 20px;
}
}
.card-portfolio:hover{
    box-shadow: 0 0 0 0;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}
.icone_portfolio:hover{
                -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 2s;
        max-width: 100%;
            }